<!DOCTYPE html>
<html>

<% include ../partials/head %>

  <body>

    <div id="wrapper">

      <% include ../partials/nav2 %>

        <div id="page-wrapper">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">Sobre</h1>
              <div>
                <ul> 
                  <li><h3>Documentos Úteis</h3></li> 
                  <ul> 
                    <li><a href="#">Descrição do sistema</a></li> 
                    <li><a href="#">Documento de Requisitos</a></li> 
                  </ul>
                  <li><h3>Guia de Instalação</h3></li> 
                  <ul> 
                    <li><a href="#">Guia 1</a></li>  
                  </ul>
                  <li><h3>Repositório</h3></li>
                  <ul> 
                    <li><a href="#">Github</a></li> 
                  </ul>
                </ul>
              </div>
            </div>
            <!-- /.col-lg-12 -->
          </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- content for about page -->
    <!--div class="container" id="about">
      <div class="row">
        <h2 class="text-center">Sobre</h2>
        <div class="col-xs-12 text-center">
          <p>Site construído utilizando express e ejs, sobre a plataforma node.js.</p>
        </div>

      </div>
    </div-->
    <!-- end of content -->

    <% include ../partials/scripts %>

  </body>

</html>