<!DOCTYPE html>
<html >

    <% include ../partials/head %>

    <body class="text-center">
        <% include ../partials/nav %>

        <!--section name="jumbotron"  >
            <div class="jumbotron text-center">
                <h1>SGRH-HEMOCE</h1>
                <p>Sistema de Gerenciamento de Recursos Humanos do Hemoce</p>
            </div>
        </section-->

        <!--% include ../partials/3columns %-->

        <div ui-view></div>

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>

</html>