<!DOCTYPE html>
<html>

<% include ../partials/head %>

  <body>

    <div id="wrapper">

      <% include ../partials/nav2 %>

        <div id="page-wrapper">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header"><%=tableName%></h1>
            </div>
            <!-- /.col-lg-12 -->
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                
                <!-- /.panel-heading -->
                <div class="panel-body">
                  <table width="100%" class="table table-striped table-bordered table-hover" id="myTable">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Descrição</th>

                      </tr>
                    </thead>
                    <tbody>
                      <%for(var i=0; i<list.length; i++){%>
                        <tr align='center'>

                          <td>
                            <%=list[i].set_id%>
                          </td>
                          <td>
                            <%=list[i].set_nome%>
                          </td>
                          <td>
                            <%=list[i].set_descricao%>
                          </td>
                        </tr>
                        <%}%>

                    </tbody>
                  </table>
                  <!-- /.table-responsive -->

                </div>
                <!-- /.panel-body -->
              </div>
              <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
          </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include ../partials/scripts %>

      <!-- DataTables JavaScript -->
      <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
      <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
      <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>

      <!-- Page-Level Demo Scripts - Tables - Use for reference -->
      <script>
        $(document).ready(function () {
          $('#myTable').DataTable({
            responsive: true
          })
        });
      </script>

      <!-- Custom Theme JavaScript -->
      <script src="../dist/js/sb-admin-2.js"></script>
  </body>

</html>