<!DOCTYPE html>
<html >

    <% include ../partials/head %>

    <body>

        <div class="header" align="center">
            <div id="logo">
                <img id="logo1" src="img/hemoce_logo_small.png" alt="logo"/>
                <img id="logo2" src="img/ceara_gov_logo.png" alt="logo2"/>
                
            </div>
            
        </div>
        <hr>
        <div class="container">

            <div class="col-sm-6 col-sm-offset-3">

                <h1><span class="fa fa-sign-in"></span> Login</h1>

                <!-- show any messages that come back with authentication -->
                <%/* if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } */%>
                    
                <!-- LOGIN FORM -->
                <form action="/login" method="post">
                    <div class="form-group">
                        <label>Usuário</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label>Senha</label>
                        <input type="password" class="form-control" name="password">
                    </div>

                    <button type="submit" class="btn btn-warning btn-lg btn">Entrar</button>
                </form>

                <hr>

                <p>Esqueceu sua senha? <a href="/">Recuperar</a></p>
                <p>Precisa de uma conta? <a href="/signup">Cadastre-se</a></p>
                

            </div>
        </div>        
    </body>
        
</html>