<!-- views/partials/3columns.ejs -->
<section name="content">
    <div class="container">
        <h2 class="text-center">Teste do Sistema</h2>
        <div class="col-xs-12 text-center">
            <p>3columns teste do Sistema de Gerenciamento de Recursos Humanos.</p>
        </div>
    </div>
</section>