<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="container">
        <p class="text-center text-muted">© Copyright 2017. <a href="http://intranet.hemoce.ce.gov.br/">Acesse a Intranet do Hemoce</a></p>
    </div>
</footer>
