<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">SGRH HEMOCE</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configurações</a>
                </li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="#"><i class="fa fa-dashboard fa-fw"></i> Página Inicial</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Consultas de Base<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/areas"> Areas</a>
                        </li>
                        <li>
                            <a href="/cargos"> Cargos</a>
                        </li>
                        <li>
                            <a href="/conselhos"> Conselhos</a>
                        </li>
                        <li>
                            <a href="/escolaridades"> Escolaridades</a>
                        </li>
                        <li>
                            <a href="/estado-civil"> Estado Civil</a>
                        </li>
                        <li>
                            <a href="/funcoes"> Funcões</a>
                        </li>
                        <li>
                            <a href="/profissoes"> Profissões</a>
                        </li>
                        <li>
                            <a href="/setores"> Setores</a>
                        </li>
                        <li>
                            <a href="/status-colaboradores"> Status do Colaborador</a>
                        </li>
                        <li>
                            <a href="/unidades"> Unidades</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-edit fa-fw"></i> Formulários de Cadastro<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#"> Ficha Funcional</a>
                        </li>
                        <li>
                            <a href="#"> Requisição de Pessoal</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/sobre"><i class="fa fa-info-circle fa-fw"></i> Sobre</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-close fa-fw"></i> Sair</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>